{% load static %}

<!DOCTYPE html>
<html lang='fr'>
    <head>
        <title>Coin Centraliz </title>
        <meta charset='UTF-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styl.css' %}">
    </head>

    <body>
        <div class="en-tete">
            <div class="en-tete-title">
                <h1> COIN CENTRALIZ </h1>
            </div>
            {% include "news/navBar.html" %}
        </div>

        {%block content%}
        {%endblock%}
    </body>
</html>
