{% load static %}

<!DOCTYPE html>
<html lang='fr'>
    <head>
        <title>Coin Centraliz - Agrégateur News, Actus, Media, Tweets Crypto, Web3, NFT</title>
        <meta charset='UTF-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Agrégateur de contenu, news, actus, tweets des domaines cryptomonnaie, Web3, NFT">
        <meta name="author" content="Kytox">
        <meta name="keywords" content="crypto,cryptomonnaie,bitcoin,altcoins,news,infos,informations,web3,marche,centraliser,centraliz,coins,coin,tweets,actus crypto,news crypto,infos crypto,exchanges,etherum,portfolio,wallet,apy,blockchain,trading,bourse,crypto fr,news crypto francais,news crypto fr,minage,rendements,Analyse fondamentale,fondamentale,Analyse technique,Bitmex,bitpay,bear market,bearish,Bullish,binance,Bitfinex,Bulle spéculative,spéculations,smart contract,coinbase,ftx,Contrat intelligent,Cryptoactif,lois crypto,dao,dip crypto,dapp,DYOR,fud,fomo,hold,hardware wallet,KYC,vidéos crypto,media crypto,tweets crypto,thread crypto,proof of work,proof of stake,roi,satoshi,shitcoin,sidechain,token,Tokenisation,debank,defi wallet,decentralized finance,decentralized bank,open finance,defi,defi analytics,ethereum,analytics,uniswap,aave,bzx,compound,ddex,dydx,maker,uniswap,stablecoins,dex">
        <link rel="stylesheet" href="{% static 'css/styl.css' %}">
        <link rel="icon" href="/static/img/CoinCentralizLogo.jpg.png">
    </head>

    <body>
        <div class="en-tete">
            <div class="en-tete-title">
                <h1> COIN CENTRALIZ </h1>
            </div>
            {% include "news/navBar.html" %}
        </div>

        {%block content%}
        {%endblock%}
    </body>
</html>
