

<a href="{{ search.url }}" class="link-article" style="text-decoration:none">
    <div class='search-line'>
        {% if search.thumbnail %}
            <div class="search-media-img">
                <img class="search-media-img" src="{{ search.thumbnail }}" alt="{{ search.title }}">
            </div>
        {% endif %}

        {% if search.site %}
            <div class="search-author">
                <p>{{ search.site }}</p>
            </div>
        {% else %}
            <div class="search-author">
                <p>{{ search.author }}</p>
            </div>
        {% endif %}

        <div class="search-title">
            {% if search.description %}
                <span class="tooltiptext">{{ search.description }}</span>
            {% endif %}
            <p>{{ search.title }}</p>
        </div>

        <div class="search-interval-publi">
            <p>{{ search.interval_publi }}</p>
        </div>
    </div>
</a>