

<a href="{{ media.url }}" class="link-article" style="text-decoration:none">
    <div class='environnement-line-media'>
        <div class="environnement-media-img">
            <img class="environnement-media-img" src="{{ media.thumbnail }}" alt="{{ media.title }}">
        </div>
        <div class="environnement-media-title">
            <p>{{ media.title }}</p>
        </div>
        <div class="environnement-media-interval-publi">
            <p>{{ media.interval_publi }}</p>
        </div>
    </div>
</a>