{% for article in Latest_articles %}
    <div class="main-data-element" data-aos="zoom-in">
        <div class="data-element-art-site">
            <img class="data-box-img" src="/static/img/article/{{ article.site }}.jpg" alt="">
            <p>{{ article.site }}</p>
            <div class="main-article-box-interval-publi">
                <p>{{ article.interval_publi }}</p>
            </div>
        </div>
        <div class="data-element-art-title">
            <a href="{{ article.url }}" class="link-article" target="_blank" rel="noopener noreferrer">
                <h4 id="article-title-{{ article.url }}">{{ article.title }}</h4>
            </a>
        </div>
        
        <p class="main-article-descr" id="article-{{ article.title }}"> {{ article.description }} </p>

        <div class="main-div-article-category">
            <div class="main-article-category-1">
                <form action="{% url 'searchCategory' %}" method="GET">
                    <input type="hidden" name="q" value="{{ article.category_1 }}">
                    <button class="btn-category" type="submit">{{ article.category_1 }}</button>
                </form>
            </div>
            {% if article.category_2 %}
                <div class="main-article-category-2">
                    <form action="{% url 'searchCategory' %}" method="GET">
                        <input type="hidden" name="q" value="{{ article.category_2 }}">
                        <button class="btn-category" type="submit">{{ article.category_2 }}</button>
                    </form>
                </div>
            {% endif %}
            {% if article.category_3 %}
                <div class="main-article-category-3">
                    <form action="{% url 'searchCategory' %}" method="GET">
                        <input type="hidden" name="q" value="{{ article.category_3 }}">
                        <button class="btn-category" type="submit">{{ article.category_3 }}</button>
                    </form>
                </div>
            {% endif %}
            {% if article.category_4 %}
                <div class="main-article-category-4">
                    <form action="{% url 'searchCategory' %}" method="GET">
                        <input type="hidden" name="q" value="{{ article.category_4 }}">
                        <button class="btn-category" type="submit">{{ article.category_4 }}</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}