{% for media in Latest_media %}
    <div class="main-data-yt-element">
        <div class="data-yt-author">
            <img class="data-yt-box-img" src="/static/img/media/{{ media.author }}.jpg" alt="">
            <p>{{ media.author }}</p>
            <div class="data-yt-box-interval-publi">
                <p>{{ media.interval_publi }}</p>
            </div>
        </div>
        <div class="data-yt-img">
            <a href="{{ media.url }}" class="link-media" style="text-decoration:none" target="_blank" rel="noopener noreferrer">
                <img class="yt-img" src="{{ media.thumbnail }}" alt="{{ media.title }}">
            </a>
        </div>
        <div class="data-yt-title">
            <a href="{{ media.url }}" class="link-media" style="text-decoration:none" target="_blank" rel="noopener noreferrer">
                <h4>{{ media.title }}</h4>
            </a>
        </div>
    </div>
{% endfor %}