{% extends 'news/base.html' %}
{% load static %}


{% block content %}


<div class="div-explaication-main">
    <div class="explications-explication-main">
        <div class="explication-main-présentation">
            <p>Coin Centraliz est un agrégateur de contenu crypto
            <br><br>Vous trouverez plusieurs types de contenu: </p>
        </div>
        <div class="explication-main-box">
            <div class="explication-category">
                <h4>Sites article</h4>
                {% for article in list_site_actus_article %}
                    <a href={{ article.url_site }}>{{ article.title }}</a>
                {% endfor %}
            </div>
            <div class="explication-category">
                <h4>Newsletter</h4>
                {% for newsletter in list_site_actus_newsletter %}
                    <a href={{ newsletter.url_site }}>{{ newsletter.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="explication-main-box">
            <div class="explication-category">
                <h4>Bitcoin</h4>
                {% for bitcoin in list_site_media_bitcoin %}
                    <a href={{ bitcoin.url_site }}>{{ bitcoin.title }}</a>
                {% endfor %}
            </div>
            <div class="explication-category">
                <h4>Secteurs Crypto</h4>
                {% for crypto in list_site_media_media %}
                    <a href={{ crypto.url_site }}>{{ crypto.title }}</a>
                {% endfor %}
            </div>
            <div class="explication-category">
                <h4>Trading</h4>
                {% for trading in list_site_media_trading %}
                    <a href={{ trading.url_site }}>{{ trading.title }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="explication-main-box">
            <div class="explication-category">
                <h4>Twitch</h4>
                {% for streamer in list_site_media_twitch %}
                    <a href={{ streamer.url_site }}>{{ streamer.title }}</a>
                {% endfor %}
            </div>
            <div class="explication-category">
                <p>Un bot Twitter a été créer, <a href="https://twitter.com/CoinCentraliz" style="color: blue; font-size: 18px;">@CoinCentraliz</a>, principalement pour récupérer des THREADS et les partager. 
                    <br><br><br>Ce dernier va retweeter lorsqu'on le mentionnee et ensuite ce tweet sera ajouté en page d'accueil du site
                    <br><br><br>Donc si vous voulez afficher / partager un tweet (THREAD) hésitez pas a mentionner le BOT
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}