{% extends 'news/base.html' %}
{% load static %}


{%block content%}

<div id="main">
    <div class="main-creator">
        <form action="{% url 'index' %}">
            <button type="submit" {% if site.title in request.get_full_path %} id="active" {% endif %}>Dernieres Actus</button>
        </form>
        {% for site in list_site_articles %}
        <form action="{% url 'index' %}" method="GET">
            <input type="hidden" name="r" value="{{ site.title }}">
            <button type="submit" {% if site.title in request.get_full_path %} id="active" {% endif %}>{{ site.title }} </button>
        </form>
    {% endfor %}
    </div>

    <div class="main-data-box" id="main-data">
        {% include "news/box_article.html"%}
    </div>
</div>

<script>

    AOS.init({
        delay: 300, // values from 0 to 3000, with step 50ms
        duration: 800, // values from 0 to 3000, with step 50ms     
    });

    // Hiden principal scroll br of the page 
    var style = document.createElement("style");
    style.innerHTML = `body::-webkit-scrollbar {display: none;}`;
    document.head.appendChild(style);


</script>

{%endblock%}





