{% extends 'news/base.html' %}
{% load static %}


{%block content%}

<div id="main">
    <div class="main-creator" data-aos="fade-right">
        <form action="{% url 'index' %}">
            <button type="submit" {% if site.title in request.get_full_path %} id="active" {% endif %}>Dernieres Actus</button>
        </form>
        {% for site in list_site_articles %}
            <form action="{% url 'index' %}" method="GET">
                <input type="hidden" name="r" value="{{ site.title }}">
                <button type="submit" {% if site.title in request.get_full_path %} id="active" {% endif %}>{{ site.title }} </button>
            </form>
        {% endfor %}
    </div>

    <div class="main-creator-accordion" data-aos="fade-down">
        <div class="creator-accordion-item">
            <div class="creator-accordion-item-header">
                Sites Actus
            </div>
            <div class="creator-accordion-item-body">
                <div class="creator-accordion-item-body-content">
                    <form action="{% url 'index' %}">
                        <button type="submit" {% if site.title in request.get_full_path %} id="active" {% endif %}>Dernieres Actus</button>
                    </form>
                    {% for site in list_site_articles %}
                        <form action="{% url 'index' %}" method="GET">
                            <input type="hidden" name="r" value="{{ site.title }}">
                            <button type="submit">{{ site.title }}</button>
                        </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="main-data-box" id="main-data">
        {% include "news/box_article.html"%}
    </div>
</div>

<script>

    const accordionItemHeaders = document.querySelectorAll(".creator-accordion-item-header");

    accordionItemHeaders.forEach(accordionItemHeader => {
        accordionItemHeader.addEventListener("click", event => {

            accordionItemHeader.classList.toggle("active");
            const accordionItemBody = accordionItemHeader.nextElementSibling;
            if(accordionItemHeader.classList.contains("active")) {
            accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
            }
            else {
            accordionItemBody.style.maxHeight = 0;
            }
            
        });
    });


</script>

{%endblock%}





