{% extends 'news/base.html' %}


{% block content %}


<div class="body-search">
    {% if list_articles or list_media or list_tweet%}
        {% if list_articles %}
            <div class="search-box-site">
                <div class="search-influ-name">
                    <p>News</p>
                </div>
                <div class="search-list">
                    {% for search in list_articles %}
                        {% include "news/block_search.html" %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if list_media %}
            <div class="search-box-site">
                <div class="search-influ-name">
                    <p>Media</p>
                </div>
                <div class="search-list">
                    {% for search in list_media %}
                        {% include "news/block_search.html" %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if list_tweet %}
            <div class="search-box-site">
                <div class="search-influ-name">
                    <p>Tweet</p>
                </div>
                <div class="search-list">
                    {% for search in list_tweet %}
                        {% include "news/block_search.html" %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    {% else %}
            <div class="search-box-no-result">
                <p>Pas de Résultats</p>
            </div>
    {% endif %}
</div>


{% endblock %}