{% extends 'news/base.html' %}
{% load static %}


{% block content %}

{% if type_media == 'Article' %}
    <div class="media-div-img-css-article">
        <div class="div-box">
            <div class="box">
                {% for site in list_site_article  %}
                    <span style="--i:{{ forloop.counter }}"><a href="{{ site.url_site }}"><img src="/static/img/article/{{ site.title }}.jpg" alt=""></a></span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

<div class="div-type-article">
    <form action="{% url 'sites_actus' %}" method="GET">
        <input type="hidden" name="q" value="Article">
        <button class="btn-type-article" type="submit">Articles</button>
    </form>

    <form action="{% url 'sites_actus' %}" method="GET">
        <input type="hidden" name="q" value="Newsletter">
        <button class="btn-type-article" type="submit">Newsletters</button>
    </form>
</div>

{% if type_media == 'Article' %}
    <div class="sites-actus">
        {% for site in list_all_articles %}
            <div class="sites-actus-box-site">
                <div class="sites-actus-site-name">
                    <p>{{ site.0 }}</p>
                </div>
                <div class="sites-actus-articles-list">
                    {% for list_article in site %}
                        {% if site.0 != list_article %}
                            {% for article in list_article %}
                                {% include "news/block_articles_site.html" with title="title"%}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="sites-actus-newsletter">
        {% for site in list_site_article %}
            <div class="sites-actus-newsletter-box-site">
                <div class="sites-actus-newsletter-site-name">
                    <p>{{ site.title }}</p>
                    <div class="sites-actus-newsletter-abonner">
                        <a href="{{ site.url_site }}">S'abonner</a>
                    </div>
                </div>
                <div class="sites-actus-newsletter-img">
                    <a href="{{ site.url_site }}"><img src="/static/img/newsletter/{{ site.title }}.jpg" alt=""></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}