{% extends 'news/base.html' %}
{% load static %}


{% block content %}

<div id="main">
    <div class="main-creator-yt">
        {% for bitcoin in list_site_media_bitcoin %}
            <form action="{% url 'media' %}" method="GET">
                <input type="hidden" name="r" value="{{ bitcoin.title }}">
                <button type="submit" {% if bitcoin.title in request.get_full_path %} id="active" {% endif %}>{{ bitcoin.title }}</button>
                <i class="fa-brands fa-bitcoin" title="Contenu Bitcoin"></i>
            </form>
        {% endfor %}

        {% for crypto in list_site_media_media %}
            <form action="{% url 'media' %}" method="GET">
                <input type="hidden" name="r" value="{{ crypto.title }}">
                <button type="submit" {% if crypto.title in request.get_full_path %} id="active" {% endif %}>{{ crypto.title }}</button>
                <i class="fa-brands fa-ethereum" title="Contenu Crypto"></i>
            </form>
        {% endfor %}

        {% for trading in list_site_media_trading %}
            <form action="{% url 'media' %}" method="GET">
                <input type="hidden" name="r" value="{{ trading.title }}">
                <button type="submit" {% if trading.title in request.get_full_path %} id="active" {% endif %}>{{ trading.title }}</button>
                <i class="fa-solid fa-chart-line" title="Contenu Trading"></i>
            </form>
        {% endfor %}
    </div>

    <div class="main-data-yt-box" id="main-data">
        <div class="disposition">
            <i id="dispo_list" onclick="dispo_list()" class="fa-solid fa-list"></i>
            <i id="dispo_box" onclick="dispo_box()" class="fa-solid fa-table-cells-large"></i>
        </div>
        {% include "news/box_youtube.html"%}
    </div>
</div>


<script>

    function dispo_box() {
        document.getElementById("main-data").classList.replace("main-data-yt", "main-data-yt-box");
    }

    function dispo_list() {
        document.getElementById("main-data").classList.replace("main-data-yt-box", "main-data-yt");
    }

</script>


{% endblock %}