@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media (max-width: 3000px) {
    body {
        background: linear-gradient(90deg, rgb(8, 8, 8), rgb(49, 50, 56));
        /* background: linear-gradient(-45deg, rgb(33, 35, 43), rgb(76, 80, 99)); */
        height: 100%;
        --background-color: linear-gradient(-45deg, rgb(33, 35, 43), rgb(76, 80, 99));
        /* --background-color: linear-gradient(90deg, rgb(8, 8, 8), rgb(49, 50, 56)); */
        --box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 30%);
        font-family: 'Anonymous Pro';
        margin: 0;
        width: auto;
        padding-top: 5px;
    }



    #active {
        background-color: rgb(57, 59, 68);
    }




    /* en tete */
    .en-tete {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin-bottom: 40px;
    }

    .en-tete-title {
        width: 30%;
    }

    .en-tete-title h1 {
        display: block;
        color: white;
        font-size: 30px;
        margin: 0 0 0 5px;
        padding: 10px 0 0 10px;
        font-weight: bold;
    }

    .navBar {
        width: 100%;
    }

    .navBar li {
        float: left;
        list-style-type: none;
        border-radius: 10px;
    }

    .navBar li:hover {
        background-color: rgb(48, 50, 58);
        border-radius: 10px;
    }

    .navBar a {
        display: block;
        padding: 12px 30px 12px 30px;
        text-decoration: none;
        color: white;
        font-size: 25px;
    }

    .li-section-navbar-explication a {
        font-size: 13px;
    }


    .li-section-navbar-explication {
        width: 14%;
        margin-right: 17%;
    }

    .li-section-navbar-sociaux {
        width: 3.5%;
        margin-right: 15px;
    }

    .li-section-navbar-sociaux a {
        padding: 12px 10px 12px 10px;
    }

    .navBar li img {
        width: 30px;
    }





    /* HOME */
    #main {
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 2%;
        margin-right: 2%;
    }


    #derniers-articles,
    #derniers-media,
    #derniers-tweet {
        background: var(--background-color);
        box-shadow: var(--box-shadow);
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        overflow-y: scroll;
        width: 49.5%;
        animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
        -o-animation: fadein 2s;
        border-radius: 10px;
    }

    #derniers-articles {
        max-height: 590px;
    }

    #derniers-media {
        animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
        -o-animation: fadein 2s;
        height: 400px;
        margin-bottom: 15px;
    }

    #derniers-tweet {
        animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
        -o-animation: fadein 2s;
        height: 400px;
        margin-top: -172px
    }


    /* width */
    ::-webkit-scrollbar {
        width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: rgb(33, 35, 43);
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(204, 204, 204);
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(230, 230, 230);
    }



    .main-div-article,
    .main-div-media,
    .main-div-tweet {
        border-bottom: 0.3px solid gray;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .main-div-article:hover,
    .main-div-media:hover,
    .main-div-tweet:hover {
        background-color: rgb(48, 50, 59);
    }

    .main-article-site,
    .main-media-author,
    .main-tweet-author {
        width: 8%;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }

    .main-article-site p,
    .main-media-author p,
    .main-tweet-author p {
        color: rgba(219, 217, 217, 0.616);
        font-size: 11px;
    }

    .main-media_interval_publi p,
    .main-article-interval-publi p,
    .main-tweet-interval-publi p {
        color: rgba(219, 217, 217, 0.616);
        font-size: 11px;
    }

    .main-article-title,
    .main-media-title,
    .main-tweet-title,
    .main-article-interval-publi,
    .main-media_interval_publi,
    .main-tweet-interval-publi {
        /* display: flex;
    justify-content: flex-start;
    align-items: center; */
        width: 3%;
    }

    .main-article-title {
        width: 70%;
    }

    .main-media-title {
        width: 74%;
    }

    .main-tweet-title {
        width: 85%;
    }

    .main-article-title p,
    .main-media-title p,
    .main-tweet-title p {
        text-decoration: none;
    }

    .main-article-title p a,
    .main-media-title p a,
    .main-tweet-title p a {
        color: rgb(219, 217, 217);
        font-size: 14px;
        text-decoration: none;
    }

    .main-article-title p a:hover,
    .main-media-title p a:hover,
    .main-tweet-title p a:hover,
    .main-div-article-category button:hover {
        color: white;
        font-weight: 570;
    }

    .main-div-article-category {
        display: flex;
        justify-content: stretch;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 13.5%;
    }

    .main-div-article-category button {
        color: rgba(219, 217, 217, 0.616);
        font-family: 'Anonymous Pro';
        font-size: 11px;
        background: transparent;
        border: none;
    }


    .main-media-img {
        width: 80px;
        margin-left: -9px;
    }















    /* Div Description créer lors du clic sur un article ou media */
    #div-description-create {
        width: 45.65%;
    }


    #div-description {
        background: var(--background-color);
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        overflow-y: scroll;
        max-height: 300px;
        margin: 20px 3% 0 3%;
        padding-left: 8px;
        padding-top: 5px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        color: rgba(219, 217, 217, 0.616);
        font-size: 13px;
        animation: fadein 1.5s;
        -webkit-animation: fadein 1.5s;
        -moz-animation: fadein 1.5s;
        -ms-animation: fadein 1.5s;
        -o-animation: fadein 1.5s;
    }

    #div-description-title {
        width: 78%;
        color: white;
        font-size: 17px;
    }

    #div-description-title a {
        color: white;
        font-size: 17px;
        text-decoration: none;
    }


    #div-description-author {
        width: 30%;
    }

    #div-description-site {
        width: 20%;
    }

    #div-description-categories {
        width: 30%;
    }

    #div-description-date-publi {
        padding-left: 10px;
        margin-top: 3px;
    }

    #div-description-description {
        color: rgb(219, 217, 217);
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #div-description-url {
        width: 100%;
        margin-bottom: 15px;
    }

    #div-description-url a {
        color: rgba(219, 217, 217, 0.616);
        font-size: 13px;
        text-decoration: none;
    }

    /* Div Description article créer lors du clic sur un article  */







    /* Sites-Actus */
    .sites-actus {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 5%;
        margin-right: 5%;
    }

    .sites-actus-site-name {
        background: linear-gradient(-85deg, rgb(14, 15, 19), rgb(46, 48, 59));
        border-radius: 10px 10px 0 0;
        padding: 20px 0 20px 0;
    }

    .sites-actus-box-site {
        box-shadow: var(--box-shadow);
        width: 32%;
        margin-bottom: 20px;
        animation: fadein 1.5s;
        -webkit-animation: fadein 1.5s;
        -moz-animation: fadein 1.5s;
        -ms-animation: fadein 1.5s;
        -o-animation: fadein 1.5s;
    }

    .sites-actus-articles-list {
        background: var(--background-color);
        border-radius: 0 10px 10px 10px;
        overflow-y: scroll;
        max-height: 430px;
        width: 100%;
    }

    .sites-actus-line-article {
        border-bottom: 0.3px solid grey;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .sites-actus-line-article:hover {
        background-color: rgb(48, 50, 59);
    }

    .sites-actus-article-title,
    .sites-actus-article-interval-publi {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .sites-actus-article-title {
        width: 92%;
    }

    .sites-actus-site-name p {
        color: rgba(219, 217, 217, 0.877);
        font-size: 20px;
        text-align: center;
        margin: 0 0 0 0;
    }

    .sites-actus-article-title p {
        color: rgb(219, 217, 217);
        padding-left: 8px;
        font-size: 14px;
    }

    .sites-actus-article-title p:hover {
        color: white;
        font-weight: 500;
    }

    .sites-actus-article-interval-publi p {
        color: rgba(219, 217, 217, 0.616);
        font-size: 11px;
        padding-left: 10px;
    }

    /* Tooltip container */
    .sites-actus-article-title {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        /* If you want dots under the hoverable text */
    }

    /* Tooltip text */
    .sites-actus-article-title .tooltiptext {
        visibility: hidden;
        background: rgba(0, 0, 0, .9);
        color: rgb(202, 28, 28);
        font-size: 13px;
        padding: 10px;
        border-radius: 6px;
        top: 100%;
        left: 20%;
        margin-right: -40px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .5);
        transform: scale(0) rotate(-18deg);
        transition: all .4s;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 2;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .sites-actus-article-title:hover .tooltiptext {
        visibility: visible;
        transform: scale(1) rotate(0);
        opacity: 1;
    }

    /* Sites-Actus */







    /* Media */
    .media-div-entete {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-top: 2%;
    }

    .media-div-random-media-btn {
        animation: fadein 3s;
        -webkit-animation: fadein 3s;
        -moz-animation: fadein 3s;
        -ms-animation: fadein 3s;
        -o-animation: fadein 3s;
        background: var(--background-color);
        box-shadow: var(--box-shadow);
        width: 20%;
        border-radius: 10px;
        margin-left: 9%;
    }

    .media-div-random-media-btn:hover {
        background: linear-gradient(-95deg, rgb(43, 46, 56), rgb(90, 95, 117));
        box-shadow: var(--box-shadow);
    }

    .media-div-random-media-btn a {
        color: rgb(219, 217, 217);

        text-decoration: none;
    }

    .media-div-random-media-btn li {
        list-style-type: none;
    }

    .media-random-media-random {
        font-size: 25px;
    }

    .media-random-media-author {
        color: rgba(219, 217, 217, 0.616);
        font-size: 14px;
    }

    .media-random-media-title {
        color: rgba(219, 217, 217, 0.616);
        font-size: 14px;
    }


    .media-random-media-random {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .media-random-media-author {
        padding-left: 7px;
        padding-bottom: 5px;
    }

    .media-random-media-title {
        padding-left: 7px;
        padding-right: 5px;
        padding-bottom: 10px;
    }

    .media-div-img-css-fonda {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2%;
        margin-left: 17%;
    }

    .media-div-img-css-article,
    .media-div-img-css-trading {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2%;
        margin-left: 46%;
    }

    .div-type-media {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 40px;
        margin-top: 30px;
        animation: fadein 2.5s;
        -webkit-animation: fadein 2.5s;
        -moz-animation: fadein 2.5s;
        -ms-animation: fadein 2.5s;
        -o-animation: fadein 2.5s;
    }

    .btn-type-media {
        color: white;

        font-size: 20px;
        background: transparent;
        border: none;
        padding: 10px 15px 10px 15px;
    }

    .btn-type-media:hover {
        color: white;
        background-color: rgb(48, 50, 58);
        border-radius: 10px;
    }

    .all-media {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 5%;
        margin-right: 5%;
    }

    .media-media {
        box-shadow: var(--box-shadow);
        width: 32%;
        animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
        -o-animation: fadein 2s;
        margin-bottom: 30px;
    }

    .media-influ-name {
        background: linear-gradient(-85deg, rgb(14, 15, 19), rgb(46, 48, 59));
        border-radius: 10px 10px 10px 0;
        padding: 20px 0 20px 0;
    }

    .media-media-list {
        background: var(--background-color);
        border-radius: 10px;
        overflow-y: scroll;
        max-height: 430px;
    }

    .media-line-media {
        border-bottom: 0.3px solid grey;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .media-line-media:hover {
        background-color: rgb(48, 50, 59);
    }

    .media-media-img {
        width: 80px;
    }

    .media-media-title,
    .media-media-interval-publi {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
    }

    .media-media-title {
        width: 73%;
    }

    .media-influ-name p {
        color: rgba(219, 217, 217, 0.877);
        font-size: 20px;
        text-align: center;
        margin: 0 0 0 0;
    }

    .media-media-title p {
        color: rgb(219, 217, 217);
        font-size: 14px;
    }

    .media-media-interval-publi p {
        color: rgba(219, 217, 217, 0.616);
        font-size: 11px;
    }

    /* Media */







    /* Environnement */
    .body-environnement {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 10%;
        margin-right: 10%;
    }

    .environnement-présentation {
        width: 90%;
    }

    .environnement-présentation p {
        color: rgb(219, 217, 217);
        font-size: 20px;
    }

    .environnement-box-site {
        background: linear-gradient(-85deg, rgb(14, 15, 19), rgb(46, 48, 59));
        box-shadow: var(--box-shadow);
        border-radius: 10px 0 10px 0;
        width: 90%;
        margin-top: 50px;
        animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
        -o-animation: fadein 2s;
    }

    .environnement-list {
        background: var(--background-color);
        border-radius: 10px;
        overflow-y: scroll;
        max-height: 700px;
    }

    .environnement-line-media {
        border-bottom: 0.3px solid grey;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .environnement-line-media:hover {
        background-color: rgb(48, 50, 59);
    }

    .environnement-media-title,
    .environnement-media-interval-publi {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15px;
    }

    .environnement-media-title {
        width: 76%;
    }


    .environnement-influ-name p {
        color: rgba(219, 217, 217, 0.877);
        font-size: 20px;
        text-align: center;
    }

    .environnement-media-img {
        width: 80px;
    }

    .environnement-media-title p {
        color: rgb(219, 217, 217);
        font-size: 14px;
    }

    .environnement-media-interval-publi p {
        color: rgba(219, 217, 217, 0.616);
        font-size: 11px;
    }

    /* Environnement */





    /* Search */
    .body-search {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 5%;
        margin-right: 5%;
        height: 830px;
    }

    .search-box-no-result p {
        color: rgb(219, 217, 217);
        font-size: 20px;
    }

    .search-box-site {
        width: 48%;
        max-height: 500px;
        animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
        -o-animation: fadein 2s;
        margin-bottom: 10px;
        margin-left: 15px;
    }

    .search-influ-name {
        background: linear-gradient(-85deg, rgb(14, 15, 19), rgb(46, 48, 59));
        border-radius: 10px 10px 0 0;
        padding: 20px 0 20px 0;
    }

    .search-influ-name p {
        color: rgba(219, 217, 217, 0.877);
        font-size: 20px;
        text-align: center;
        margin: 0 0 0 0;
    }

    .search-list {
        background: var(--background-color);
        border-radius: 10px;
        overflow-y: scroll;
        max-height: 500px;
        margin-bottom: 30px;
    }

    .search-line {
        border-bottom: 0.3px solid grey;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .search-line:hover {
        background-color: rgb(48, 50, 59);
    }

    .search-media-img {
        width: 80px;
    }

    .search-title,
    .search-interval-publi,
    .search-author {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
    }

    .search-author {
        width: 9%;
    }

    .search-title {
        width: 75%;
    }

    .search-title p {
        color: rgb(219, 217, 217);

        font-size: 14px;
    }

    .search-interval-publi p,
    .search-author p {
        color: rgba(219, 217, 217, 0.616);
        font-size: 11px;
    }


    /* Tooltip container */
    .search-title {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        /* If you want dots under the hoverable text */
    }

    /* Tooltip text */
    .search-title .tooltiptext {
        visibility: hidden;
        background: rgba(0, 0, 0, .9);
        color: rgb(202, 28, 28);
        font-size: 13px;
        padding: 10px;
        border-radius: 6px;
        top: 100%;
        left: 20%;
        margin-right: -40px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .5);
        transform: scale(0) rotate(-18deg);
        transition: all .4s;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 2;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .search-title:hover .tooltiptext {
        visibility: visible;
        transform: scale(1) rotate(0);
        opacity: 1;
    }

    /* Search */






    /* Search Category */

    .search-category-box-site {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        height: 90%;
        animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
        -o-animation: fadein 2s;
    }

    .search-list-category {
        background: var(--background-color);
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        overflow-y: scroll;
        max-height: 800px;
        margin-bottom: 30px;
    }

    /* Search Category */







    /* SearchBar */
    input:focus::-webkit-input-placeholder {
        color: transparent;
    }

    input:focus:-moz-placeholder {
        color: transparent;
    }

    input:focus::-moz-placeholder {
        color: transparent;
    }

    #searchbox {
        margin-bottom: 20px;
        margin-left: 5%;
    }

    #searchbox input {
        outline: none;
    }

    #searchbox input[type="text"] {
        margin: 3px 0px 0px 20px;
        padding: 5px 0px 5px 5px;
        border-width: 0px;
        border-radius: 10px;
        font-family: « Arial Narrow », Arial, sans-serif;
        font-size: 13px;
        color: #383737;
        width: 15%;
        display: inline-table;
        vertical-align: top;
    }

    #button-submit {
        border-width: 0px;
        cursor: pointer;
        margin-left: 2px;
        margin-top: 4px;
        height: 22px;
    }

    /* #button-submit:hover {} */

    #button-submit:active {
        background-color: rgb(202, 28, 28);
        outline: none;
    }

    #button-submit::-moz-focus-inner {
        border: 0;
    }






    /* EXPLICATIONS PAGE */
    .div-explaication-main {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 2% 0 2%;
    }


    .explications-explication {
        animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
        -o-animation: fadein 2s;
        background: var(--background-color);
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        width: 49%;
        margin-top: 30px;
        padding: 15px 15px 2% 15px;
    }

    .explications-explication p {
        color: rgb(219, 217, 217);
        font-size: 14px;
    }

    .explications-explication table {
        border: 0.5px solid grey;
        border-right: 0;
        margin-top: 40px;
    }

    .explications-explication table th {
        border: 0.5px solid grey;
        border-left: 0;
        border-top: 0;
        color: rgb(219, 217, 217);
        font-size: 17px;
    }


    .explications-explication table td {
        border-right: 0.5px solid grey;
        text-decoration: none;
        vertical-align: top;
        padding-left: 5px;
    }

    .explication-table-td-actus-journaux {
        width: 22%;
    }


    .explication-table-td-media {
        width: 27%;
    }

    .explication-table-td-tweet {
        width: 50%;
    }


    .explications-explication table td li {
        padding-top: 10px;
        list-style-type: none;
    }

    .explications-explication table td li a {
        color: rgb(219, 217, 217);
        font-size: 14px;
        text-decoration: none;
    }

    .explications-explication table td li a:hover {
        color: white;
        font-size: 14.3px;
        text-decoration: none;
    }




    .explications-div-btn {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 49%;
        margin-top: 30px;
    }

    .explications-div-btn a {
        background: var(--background-color);
        box-shadow: var(--box-shadow);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48%;
        height: 130px;
        border-radius: 10px;
        text-decoration: none;
        color: rgb(219, 217, 217);
        font-size: 25px;
    }


    .explications-div-btn-a-1 {
        animation:
            nudge 1s linear normal;
    }

    .explications-div-btn-a-2 {
        animation:
            nudge 1.5s linear normal;
    }

    .explications-div-btn-a-3 {
        animation:
            nudge 2s linear normal;
    }

    .explications-div-btn-a-4 {
        animation:
            nudge 2.5s linear normal;
    }

    @keyframes nudge {

        0%,
        100% {
            transform: translate(300px, 0);
        }

        100% {
            transform: translate(0px, 0);
        }
    }

    .explications-div-btn a:hover {
        background: linear-gradient(-95deg, rgb(43, 46, 56), rgb(90, 95, 117));
        color: white;
        font-size: 26px;
    }








    /* BOX IMG CSS */
    .div-box {
        animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
        -o-animation: fadein 2s;
        width: 100%;
        padding-top: 10%;
        padding-bottom: 4%;
    }

    .box {
        position: relative;
        width: 150px;
        height: 150px;
        transform-style: preserve-3d;
        animation: animate 60s linear infinite;
        -webkit-animation: animate 60s linear infinite;
        animation-direction: alternate;
    }


    @keyframes animate {
        0% {
            transform: perspective(1000px) rotateY(0deg);
            -webkit-transform: perspective(1000px) rotateY(0deg);
            -moz-transform: perspective(1000px) rotateY(0deg);
            -ms-transform: perspective(1000px) rotateY(0deg);
            -o-transform: perspective(1000px) rotateY(0deg);
        }

        100% {
            transform: perspective(1000px) rotateY(360deg);
            -webkit-transform: perspective(1000px) rotateY(360deg);
            -moz-transform: perspective(1000px) rotateY(360deg);
            -ms-transform: perspective(1000px) rotateY(360deg);
            -o-transform: perspective(1000px) rotateY(360deg);
        }
    }


    .box span {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
        background: var(--background-color);
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(200px);
        -webkit-transform: rotateY(calc(var(--i) * 45deg)) translateZ(200px);
        -moz-transform: rotateY(calc(var(--i) * 45deg)) translateZ(200px);
        -ms-transform: rotateY(calc(var(--i) * 45deg)) translateZ(200px);
        -o-transform: rotateY(calc(var(--i) * 45deg)) translateZ(4200px);
        -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0002);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }


    .box span img {
        /* position: absolute; */
        top: 0;
        left: 0;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        object-fit: cover;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }

}

/* BOX IMG CSS */









/* Tablette and phone */
@media (max-width: 768px) {

    /* en tete */
    .en-tete {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 40px;
    }

    .en-tete-title {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .navBar {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .li-section-navbar {
        width: 100%;
    }

    .li-section-navbar-explication {
        width: 60%;
        margin-right: 2%;
    }

    .li-section-navbar-sociaux {
        width: 12%;
    }




    /* HOME */
    #main {
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 2%;
        margin-right: 2%;
    }


    #derniers-articles,
    #derniers-media,
    #derniers-tweet {
        background: var(--background-color);
        box-shadow: var(--box-shadow);
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        overflow-y: scroll;
        width: 95%;
        /* margin-bottom: 15px; */
        animation: fadein 2s;
        -webkit-animation: fadein 2s;
        -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
        -o-animation: fadein 2s;
        border-radius: 10px;
    }

    #derniers-articles {
        order: 1;
    }

    #derniers-media {
        order: 3;
    }

    #derniers-tweet {
        order: 4;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .main-div-article {
        border-bottom: 0.3px solid gray;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-left: 5px;
    }

    .main-article-site {
        order: 1;
        width: 30%;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }

    .main-div-article-category {
        order: 2;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 60%;
        margin-top: -3px;
    }

    .main-article-interval-publi {
        order: 3;
    }

    .main-article-title {
        order: 4;
        width: 100%;
    }

    .main-article-title p {
        margin-top: 3px;
        margin-bottom: 10px;
        text-decoration: none;
    }


    .main-div-media {
        border-bottom: 0.3px solid gray;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .main-media-author {
        order: 1;
        width: 85%;
        text-overflow: ellipsis;
        word-wrap: break-word;
        margin-left: 5px;
    }

    .main-media-author p {
        margin-bottom: 5px;
    }

    .main-media_interval_publi {
        order: 2;
    }

    .main-div-media-img {
        order: 3;
    }

    .main-media-img {
        width: 90px;
        margin-left: 0px;
    }

    .main-media-title {
        order: 4;
        width: 70%;
        margin-left: 3px;
    }

    .main-media-title p {
        margin-top: 2px;
        margin-bottom: 10px;
        padding-left: 5px;
    }



    .main-div-tweet {
        border-bottom: 0.3px solid gray;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        padding-left: 5px;
    }

    .main-tweet-author {
        order: 1;
        width: 85%;
    }

    .main-tweet-author p {
        margin-bottom: 0px;
    }

    .main-tweet-interval-publi {
        order: 2;
    }

    .main-tweet-title {
        order: 3;
        width: 100%;
    }

    .main-tweet-title p {
        margin-top: 5px;
        margin-bottom: 5px;
    }







    /* Div Description créer lors du clic sur un article ou media */
    #div-description-create {
        order: 2;
        width: 80%;
        margin-bottom: 15px;
    }


    #div-description {
        background: var(--background-color);
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        overflow-y: scroll;
        max-height: 300px;
        margin: 20px 3% 0 3%;
        padding-left: 8px;
        padding-top: 5px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        color: rgba(219, 217, 217, 0.616);
        font-size: 13px;
        animation: fadein 1.5s;
        -webkit-animation: fadein 1.5s;
        -moz-animation: fadein 1.5s;
        -ms-animation: fadein 1.5s;
        -o-animation: fadein 1.5s;
    }

    #div-description-title {
        width: 100%;
        color: white;
        font-size: 17px;
    }

    #div-description-title a {
        color: white;
        font-size: 17px;
        text-decoration: none;
    }

    #div-description-date-publi {
        padding-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #div-description-url {
        width: 100%;
        margin-bottom: 10px;
    }

    #div-description-url a {
        color: rgba(219, 217, 217, 0.616);
        font-size: 13px;
        text-decoration: none;
    }

    #div-description-site {
        width: 45%;
    }

    #div-description-author {
        width: 50%;
    }

    #div-description-categories {
        margin-top: 10px;
        width: 70%;
    }

    #div-description-description {
        color: rgb(219, 217, 217);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* Div Description article créer lors du clic sur un article  */


    /* SearchBar */
    #searchbox input[type="text"] {
        width: 40%;
    }

    /* SearchBar */





    /* Sites-Actus */
    .sites-actus {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 2%;
        margin-right: 2%;
    }

    .sites-actus-box-site {
        width: 90%;
    }

    .sites-actus-article-interval-publi p {
        padding-left: 5px;
    }


    /* Tooltip container */
    /* Show the tooltip text when you mouse over the tooltip container */
    .sites-actus-article-title:hover .tooltiptext {
        visibility: hidden;
        transform: scale(1) rotate(0);
        opacity: 0;
    }

    /* Sites-Actus */




    .all-media {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 2%;
        margin-right: 2%;
    }

    .media-media {
        width: 90%;
    }

    .media-media-interval-publi {
        padding-left: 5px;
    }

    .media-div-entete {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-top: 2%;
    }


    .media-div-random-media-btn {
        width: 90%;
        border-radius: 10px;
        margin-left: 0;
        margin-bottom: 70px;
    }

    .div-type-media {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 30px;
        margin-top: 10px;
    }











    .div-explaication-main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 2% 0 2%;
    }


    .explications-explication {
        border-radius: 10px;
        width: 90%;
        margin-top: 30px;
        padding: 15px 15px 2% 15px;
    }

    .explications-div-btn {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }

    .explications-div-btn a {
        width: 80%;
        height: 100px;
        border-radius: 10px;
        text-decoration: none;
        color: rgb(219, 217, 217);
        font-size: 25px;
        margin-bottom: 2%;
    }









    .body-environnement {
        margin-left: 2%;
        margin-right: 2%;
    }

    .environnement-media-title,
    .environnement-media-interval-publi {
        padding-left: 5px;
    }








    .body-search {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 2%;
        margin-right: 2%;
        height: 830px;
    }

    .search-box-site {
        width: 95%;
        margin-left: 0px;
    }

    .search-line {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .search-author {
        order: 1;
        width: 85%;
        padding-left: 5px;
    }

    .search-author p {
        margin-bottom: 5px;
        margin-top: 8px;
    }

    .search-interval-publi {
        order: 2;
    }

    .search-media-img {
        order: 3;
        width: 90px;
    }

    .search-title {
        order: 4;
        width: 70%;
        padding-left: 5px;
    }

    .search-title p {
        margin-top: 10px;
    }






    /* BOX IMG CSS */

    .media-div-img-css-article,
    .media-div-img-css-trading,
    .media-div-img-css-fonda {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2%;
        margin-left: 10%;
    }

    .box {
        position: relative;
        width: 150px;
        height: 150px;
    }

    @keyframes animate {
        0% {
            transform: perspective(1000px) rotateY(0deg);
            -webkit-transform: perspective(1000px) rotateY(0deg);
            -moz-transform: perspective(1000px) rotateY(0deg);
            -ms-transform: perspective(1000px) rotateY(0deg);
            -o-transform: perspective(1000px) rotateY(0deg);
        }

        100% {
            transform: perspective(1000px) rotateY(180deg);
            -webkit-transform: perspective(1000px) rotateY(180deg);
            -moz-transform: perspective(1000px) rotateY(180deg);
            -ms-transform: perspective(1000px) rotateY(180deg);
            -o-transform: perspective(1000px) rotateY(180deg);
        }
    }

    .box span {
        width: 70px;
        height: 70px;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(130px);
        -webkit-transform: rotateY(calc(var(--i) * 45deg)) translateZ(130px);
        -moz-transform: rotateY(calc(var(--i) * 45deg)) translateZ(130px);
        -ms-transform: rotateY(calc(var(--i) * 45deg)) translateZ(130px);
        -o-transform: rotateY(calc(var(--i) * 45deg)) translateZ(4200px);
        -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0002);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .box span img {
        /* position: absolute; */
        top: 0;
        left: 0;
        width: 45px;
        height: 45px;
        border-radius: 100%;
        object-fit: cover;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }

    /* BOX IMG CSS */


}