/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@media (max-width: 4000px) {
    body {
        /* background: -webkit-gradient(linear, left top, right top, from(rgb(8, 8, 8)), torgb(72, 73, 82)); */
        /* background: -webkit-linear-gradient(left, rgb(8, 8, 8), rgb(72, 73, 82)); */
        /* background: linear-gradient(90deg, rgb(8, 8, 8), rgb(72, 73, 82)); */
        height: 100%;
        /* --background-color: linear-gradient(-45deg, rgb(33, 35, 43), rgb(76, 80, 99)); */
        /* #2a2a2a */
        --background-color: #1d2e28;
        --box-shadow: 0 7px 15px rgb(0 0 0 / 50%), 0 3px 6px rgb(0 0 0 / 50%);
        --background-hover: linear-gradient(68.3deg, rgba(245, 177, 97, 0.4) 0.4%, rgba(236, 54, 110, 0.4) 100.2%);

        --background-active: linear-gradient(68.3deg, rgba(245, 177, 97, 0.4) 0.4%, rgba(236, 54, 110, 0.4) 100.2%);
        /* --back-box: radial-gradient(circle 597px at 93% 9.8%, rgba(255, 61, 89, 0.4) 1.7%, rgba(252, 251, 44, 0.4) 97%); */
        --back-box: linear-gradient(68.3deg, rgba(245, 177, 97, 0.4) 0.4%, rgba(236, 54, 110, 0.4) 100.2%);



        letter-spacing: 1px;
        font-family: 'Anonymous Pro';
        margin: 0;
        width: auto;
        /* background-color: #141414; */
        /* background-image: linear-gradient(112.1deg, rgb(22, 25, 37) 11.4%, rgb(45, 53, 82) 70.2%); */
        /* background-image: linear-gradient(113.3deg, rgba(217, 9, 27, 1) 6.9%, rgba(22, 68, 150, 1) 75%); */
        /* background-image: radial-gradient(circle farthest-corner at -4% -12.9%, rgba(74, 98, 110, 1) 0.3%, rgba(30, 33, 48, 1) 90.2%); */
        /* background-image: linear-gradient(115deg, rgba(0, 0, 0, 1) 5.8%, rgb(146, 7, 7) 112.6%); */
        /* background-image: linear-gradient(111.1deg, rgba(0, 40, 70, 1) -4.8%, rgba(255, 115, 115, 1) 82.7%, rgba(255, 175, 123, 1) 97.2%); */
        background-image: linear-gradient(179.4deg, rgba(12, 20, 69, 1) -16.9%, rgba(71, 30, 84, 1) 119.9%);

        /* background-image: linear-gradient(180deg, rgba(21, 13, 107, 1) 1.1%, rgba(188, 16, 80, 1) 130.5%); */
        overflow-y: hidden;
    }

    a {
        text-decoration: none;
    }

    #active {
        background: var(--background-active);
    }

    /* width */
    ::-webkit-scrollbar {
        width: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--back-box);
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--back-box);
    }





    /***************************/
    /***************************/
    /********* NAVBAR **********/
    /***************************/
    /***************************/

    .navBar {
        width: 100%;
        display: flex;
        /* background-color: #000000; */
    }

    .navBar h1 {
        width: 24%;
        margin-top: 10px;
        margin-bottom: 1px;
        text-align: center;
    }

    .navBar h1 a {
        color: white;
    }

    .navBar li {
        float: left;
        list-style-type: none;
        vertical-align: bottom;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        align-items: center;
    }


    .navBar li i::before {
        font-size: 20px;
    }

    .navBar li:hover {
        background: var(--background-hover);
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .navBar li a {
        display: block;
        padding: 15px 35px 15px 35px;
        text-align: center;
        color: white;
        font-size: 20px;
    }

    .navBar li:nth-child(4):hover {
        background: linear-gradient(68.3deg, rgba(245, 177, 97, 0.4) 0.4%, rgba(255, 0, 0, 0.5) 100.2%);
    }

    .navBar li:nth-child(5):hover {
        background: linear-gradient(68.3deg, rgba(245, 177, 97, 0.4) 0.4%, rgba(102, 0, 255, 0.5) 100.2%);
    }

    .navBar li:nth-child(6):hover {
        background: linear-gradient(68.3deg, rgba(245, 177, 97, 0.4) 0.4%, rgba(0, 204, 255, 0.5) 100.2%);
    }

    .navBar li:nth-child(7):hover {
        background: linear-gradient(68.3deg, rgba(245, 177, 97, 0.4) 0.4%, rgba(9, 255, 0, 0.5) 100.2%);
    }

    .navBar li:nth-child(4)#active {
        background: linear-gradient(68.3deg, rgba(245, 177, 97, 0.4) 0.4%, rgba(255, 0, 0, 0.4) 100.2%);
    }

    .navBar li:nth-child(5)#active {
        background: linear-gradient(68.3deg, rgba(245, 177, 97, 0.4) 0.4%, rgba(145, 71, 255, 0.4) 100.2%);
    }

    .navBar li:nth-child(6)#active {
        background: linear-gradient(68.3deg, rgba(245, 177, 97, 0.4) 0.4%, rgba(0, 204, 255, 0.5) 100.2%);
    }

    .navBar li:nth-child(7)#active {
        background: linear-gradient(68.3deg, rgba(245, 177, 97, 0.4) 0.4%, rgba(9, 255, 0, 0.4) 100.2%);
    }

    .navBar .li-section-navbar-explication a {
        font-size: 12px;
    }

    .navBar li.li-section-navbar-social {
        position: absolute;
        right: 0;
    }

    .navBar li.li-section-navbar-social:hover {
        background: transparent;
    }

    .navBar li.li-section-navbar-social a {
        display: flex;
        padding: 7px 10px 7px 10px;
    }

    .navBar li.li-section-navbar-social a:hover {
        background: var(--background-hover);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .navBar li.li-section-navbar-social i::before {
        font-size: 20px;
    }

    .navBar .navbar-li-search {
        width: 25%;
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
    }

    .navBar .navbar-li-search:hover {
        background: none;
    }



    /* SearchBar */
    input:focus::-webkit-input-placeholder {
        color: transparent;
    }

    input:focus:-moz-placeholder {
        color: transparent;
    }

    input:focus::-moz-placeholder {
        color: transparent;
    }

    #searchbox {
        width: 65%;
        display: flex;
    }

    #searchbox input {
        outline: none;
    }

    #searchbox input[type="text"] {
        margin: 3px 0px 0px 20px;
        padding: 5px 0px 5px 5px;
        border-width: 0px;
        border-radius: 10px;
        font-size: 13px;
        width: 100%;
        color: #383737;
        display: inline-table;
        vertical-align: top;
    }

    #button-submit {
        border-width: 0px;
        cursor: pointer;
        margin-left: 2px;
        margin-top: 4px;
        height: 22px;
        background-color: transparent;
    }

    #button-submit i::before {
        color: white;
        font-size: 20px;
    }


    #button-submit:active {
        outline: none;
    }

    #button-submit::-moz-focus-inner {
        border: 0;
    }




    /***************************/
    /***************************/
    /********* ARTICLE *********/
    /***************************/
    /***************************/

    #main {
        display: flex;
        height: 95vh;
        min-height: 95vh;
        margin-top: 50px;
    }

    #main .main-creator {
        width: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #main .main-creator form {
        text-align: center;
    }

    #main .main-creator form button {
        background: none;
        border: 0;
        color: white;
        width: 100%;
        text-align: center;
        padding: 20px 0 20px 0;
        font-family: 'Anonymous Pro';
        font-size: 15px;
    }


    #main .main-creator form #active {
        background: var(--back-box);
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
    }

    #main .main-data-yt-box .main-data-yt-element:hover,
    #main .main-data-box .main-data-element:hover,
    #main .main-data-twitch .main-data-twitch-element:hover,
    #main .main-data-tweet .main-data-tweet-element:hover {
        /* background: var(--background-hover); */
        -webkit-box-shadow: 2px 2px 5.5px 0.5px #aaaaaa;
        -moz-box-shadow: 2px 2px 5.5px 0.5px #aaaaaa;
        box-shadow: 2px 2px 5.5px 0.5px #aaaaaa;
        -webkit-backdrop-filter: 0;
        backdrop-filter: 0;
        border: 0;
    }


    #main .main-creator form button:hover,
    #main .main-data .main-data-element:hover,
    #main .main-creator-yt form:hover,
    .environnement-line-media:hover,
    #main .main-search-category form button:hover {
        background: var(--background-hover);
        border: 0;
    }

    #main .main-creator form button:hover,
    #main .main-creator-yt form:hover,
    #main .main-search-category form button:hover {
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
    }


    /* ARTICLE BOX */
    #main .main-data-box {
        width: 100%;
        overflow-y: scroll;
        max-height: 91.5vh;
        background: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }

    #main .main-data-box .disposition {
        position: relative;
        left: -2%;
        display: flex;
        flex-direction: column;
        width: 0;
    }

    #main .main-data-box .disposition i::before {
        font-size: 15px;
        color: white;
        margin-bottom: 2px;
        cursor: pointer;
    }

    #main .main-data-box .main-data-element {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        background-image: var(--back-box);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border-radius: 7px;
        width: 21.5%;
        margin-bottom: 20px;
        margin-right: 25px;
        padding: 8px;
    }


    #main .main-data-box .main-data-element i::before {
        display: none;
    }


    #main .main-data-box .main-data-element .data-element-art-site {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    #main .main-data-box .main-data-element .data-element-art-site p {
        color: rgba(219, 217, 217, 0.616);
        font-size: 11px;
        text-align: left;
        padding-left: 5px;
        width: 90%;
        margin: 0;
    }

    #main .main-data-box .main-data-element .data-element-art-site .main-article-box-interval-publi {
        display: flex;
    }


    #main .main-data-box .main-data-element .data-element-art-title {
        width: 100%;
    }

    #main .main-data-box .main-data-element .data-element-art-title a h4 {
        margin: 0;
        padding: 5px 0 10px 0;
        color: white;
        font-weight: 100;
        margin: 0;
        font-size: 16px;
    }

    #main .main-data-box .main-data-element .data-element-art-title a {
        text-decoration: none;
    }

    #main .main-data-box .main-data-element .main-div-article-category button:hover {
        color: white;
        font-weight: 570;
        cursor: pointer;
    }

    #main .main-data-box .main-data-element .main-div-article-category {
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
        -ms-flex-wrap: wrap;
        flex-wrap: nowrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        width: 100%;
        margin-bottom: 10px;
        bottom: 0;
    }

    #main .main-data-box .main-data-element .main-div-article-category button {
        color: rgba(219, 217, 217, 0.616);
        font-family: 'Anonymous Pro';
        font-size: 12px;
        background: transparent;
        border: none;
        height: 50%;
    }


    #main .main-data-box .main-data-element .main-article-interval-publi {
        display: none;
    }

    #main .main-data-box .main-data-element .data-element-art-site .data-box-img {
        display: flex;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }


    #main .main-data-box .main-data-element .main-article-descr {
        display: flex;
        color: #e1e1e1;
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 30px;
    }





    /***************************/
    /***************************/
    /********* YOUTUBE *********/
    /***************************/
    /***************************/

    #main .main-creator-yt {
        width: 15%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: scroll;
    }

    #main .main-creator-yt form {
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding-right: 5px;
    }

    #main .main-creator-yt form button {
        background: none;
        border: 0;
        color: white;
        width: 100%;
        padding: 20px 10px 20px 0;
        font-family: 'Anonymous Pro';
        font-size: 15px;
        cursor: pointer;
    }


    #main .main-creator-yt::-webkit-scrollbar {
        width: 2px;
    }

    #main .main-creator-yt i.fa-bitcoin:before {
        color: yellow;
    }

    #main .main-creator-yt i.fa-ethereum:before {
        color: black;
    }

    #main .main-creator-yt i.fa-chart-line:before {
        color: green;
    }




    #main .main-creator-yt form #active {
        background-image: linear-gradient(112.1deg, rgb(22, 25, 37) 11.4%, rgb(45, 53, 82) 70.2%);
    }

    /* YOUTUBE BOX */
    #main .main-data-yt-box {
        width: -webkit-fill-available;
        overflow-y: scroll;
        max-height: 91.5vh;
        background: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }


    #main .main-data-yt-box .disposition {
        position: relative;
        left: -2%;
        display: flex;
        flex-direction: column;
        width: 1px;
    }


    #main .main-data-yt-box .disposition i::before {
        font-size: 15px;
        color: white;
        margin-bottom: 2px;
        cursor: pointer;
    }


    #main .main-data-yt-box .main-data-yt-element {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        background-image: var(--back-box);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border-radius: 7px;
        width: 14.5%;
        margin-bottom: 20px;
        margin-right: 20px;
        max-height: 250px;
    }

    #main .main-data-yt-box .main-data-yt-element .data-yt-author {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding-left: 3px;
        padding-top: 3px;
        align-items: center;
    }

    #main .main-data-yt-box .main-data-yt-element .data-yt-author p {
        word-break: normal;
        text-align: left;
        color: rgba(219, 217, 217, 0.616);
        font-size: 11px;
        margin: 0;
        margin-left: 5px;
        width: 71%;
    }

    #main .main-data-yt-box .data-yt-img {
        width: 100%;
        text-align: center;
    }

    #main .main-data-yt-box .data-yt-img img {
        width: 215px;
        height: 127px;
        padding: 3px;
    }


    #main .main-data-yt-box .main-data-yt-element .data-yt-title {
        width: 90%;
    }


    #main .main-data-yt-box .main-data-yt-element .data-yt-title a h4 {
        margin: 0;
        margin-bottom: 1rem;
        color: white;
        font-weight: 100;
        font-size: 13px;
    }

    #main .main-data-yt-box .main-data-yt-element .data-yt-title a {
        text-decoration: none;
    }

    #main .main-data-yt-box .main-data-yt-element .data-yt-interval-publi {
        display: none;
    }

    #main .main-data-yt-box .main-data-yt-element .data-yt-author .data-yt-box-interval-publi {
        width: 10%;
    }

    #main .main-data-yt-box .main-data-yt-element .data-yt-author .data-yt-box-interval-publi p {
        color: rgba(219, 217, 217, 0.616);
        font-size: 11px;
    }

    #main .main-data-yt-box .main-data-yt-element .data-yt-author .data-yt-box-img {
        display: flex;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }



    /***************************/
    /***************************/
    /********* TWITCH *********/
    /***************************/
    /***************************/
    #main .main-data-twitch {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5%;
        width: 100%;
        align-items: flex-start;
        align-content: flex-start;
        overflow-y: scroll;
    }

    #main .main-creator-twitch::-webkit-scrollbar {
        width: 2px;
    }

    #main .main-data-twitch .main-data-twitch-element {
        padding: 18px;
        margin-right: 30px;
        width: 18%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        background: var(--back-box);
    }


    #main .main-data-twitch .main-data-twitch-element .data-twitch-viewer-count {
        text-align: start;
        width: 100%;
        margin-bottom: 3px;
    }

    #main .main-data-twitch .main-data-twitch-element .data-twitch-viewer-count p {
        margin: 2px;
        color: white;
        text-align: end;
    }

    #main .main-data-twitch .main-data-twitch-element .data-twitch-viewer-count i::before {
        color: red;
    }

    #main .main-data-twitch .main-data-twitch-element .data-twitch-title {
        display: flex;
        flex-direction: column;
    }

    #main .main-data-twitch .main-data-twitch-element .data-twitch-title a img {
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }

    #main .main-data-twitch .main-data-twitch-element .data-twitch-title a h4 {
        margin: 0;
        margin-left: 2.2rem;
        color: white;
        font-weight: 100;
        font-size: 16px;
    }

    #main .main-data-twitch .main-data-twitch-element .data-twitch-title p {
        margin: 0;
        color: rgba(219, 217, 217, 0.616);
        font-size: 13px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    #main .main-data-twitch .no-streamer p {
        color: white;
    }




    /***************************/
    /***************************/
    /******* NEWSLETTER ********/
    /***************************/
    /***************************/
    #main .main-data-newsletter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5%;
        width: 100%;
        justify-content: center;
        align-content: flex-start;
    }

    #main .main-data-newsletter .main-data-newsletter-element {
        padding: 18px;
        margin-right: 30px;
        margin-bottom: 20px;
        width: 11%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        background: var(--back-box);

        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }


    #main .main-data-newsletter .main-data-newsletter-element img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        margin-top: 15px;
    }


    #main .main-data-newsletter .main-data-newsletter-element .data-newsletter-name {
        padding-top: 10px;
        text-align: center;
    }

    #main .main-data-newsletter .main-data-newsletter-element .data-newsletter-name a {
        color: white;
        font-size: 20px;
        text-align: center;
    }





    /***************************/
    /***************************/
    /********* TWEETS *********/
    /***************************/
    /***************************/

    #main .main-data-tweet {
        width: -webkit-fill-available;
        overflow-y: scroll;
        display: flex;
        border-radius: 5px;
        -webkit-backdrop-filter: blur(5px);
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        padding-left: 5%;
        padding-right: 3;
    }

    #main .main-data-tweet .main-data-tweet-element {
        color: white;
        width: 21%;
        background-image: var(--back-box);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        padding: 10px;
        /* max-height: 47%; */
        margin-bottom: 20px;
        margin-right: 30px;
        border-radius: 7px;
    }

    #main .main-data-tweet .main-data-tweet-element a {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        color: white;
        flex-direction: column;
    }


    #main .main-data-tweet .main-data-tweet-element a .data-tweet-author {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #main .main-data-tweet .main-data-tweet-element a .data-tweet-author p {
        color: rgba(219, 217, 217, 0.616);
        font-size: 11px;
        margin: 0;
    }

    #main .main-data-tweet .main-data-tweet-element a .data-tweet-title {
        width: 100%;
    }

    #main .main-data-tweet .main-data-tweet-element a .data-tweet-title a {
        color: white;
        font-size: 16px;
    }

    #main .main-data-tweet .main-data-tweet-element a .data-tweet-title p {
        margin-bottom: 0;
    }



    /***************************/
    /***************************/
    /****** ENVIRONNEMENT ******/
    /***************************/
    /***************************/
    .environnement-présentation {
        width: 90%;
    }

    .environnement-présentation p {
        color: rgb(219, 217, 217);
        font-size: 20px;
    }

    .environnement-box-site {
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        overflow-y: scroll;
        max-height: 91.5vh;
    }

    .environnement-list {
        background: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }


    .environnement-list .link-env {
        width: 25%;
    }

    .environnement-line-media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: space-around;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }



    .environnement-media-title,
    .environnement-media-interval-publi {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .environnement-media-title {
        width: 85%;
    }


    .environnement-influ-name p {
        color: rgba(219, 217, 217, 0.877);
        font-size: 20px;
        text-align: center;
    }

    .environnement-media-img {
        width: 80px;
    }

    .environnement-media-title p {
        color: rgb(219, 217, 217);
        font-size: 14px;
    }

    .environnement-media-interval-publi p {
        color: rgba(219, 217, 217, 0.616);
        font-size: 11px;
    }

    /* Environnement */





    /***************************/
    /***************************/
    /***** SEARCH CATEGORY *****/
    /***************************/
    /***************************/
    #main .main-search-category {
        width: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        /* background-color: #000000; */
    }

    #main .main-search-category form {
        text-align: center;
    }

    #main .main-search-category form button {
        background: none;
        border: 0;
        color: white;
        cursor: pointer;
        width: 100%;
        text-align: center;
        padding: 20px 0 20px 0;
        font-family: 'Anonymous Pro';
        font-size: 15px;
    }


    #main .main-search-category form #active {
        background: var(--back-box);
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
    }








    /***************************/
    /***************************/
    /*********** FAQ ***********/
    /***************************/
    /***************************/
    h1 {
        text-align: center;
        margin: 2rem 0;
        font-size: 2.5rem;
        color: white;
    }

    .accordion {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: 86vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .accordion-item {
        background: var(--back-box);
        color: white;
        margin: 1rem 0;
        border-radius: 0.5rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
        width: 60%;
    }

    .accordion-item-header {
        padding: 0.5rem 3rem 0.5rem 1rem;
        min-height: 2.5rem;
        line-height: 1.25rem;
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        position: relative;
        cursor: pointer;
    }

    .accordion-item-header::after {
        content: "\002B";
        font-size: 2rem;
        position: absolute;
        right: 1rem;
    }

    .accordion-item-header.active::after {
        content: "\2212";
    }

    .accordion-item-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .accordion-item-body-content {
        padding: 1rem;
        line-height: 1.5rem;
    }

    .accordion-item-body-content ul {
        margin-top: 0;
    }

    .accordion-item-body-content div {
        display: flex;
        justify-content: space-between;
    }

    .accordion-item-body-content div h4 {
        margin-top: 0;
    }

    .accordion-item-body-content a.site-link {
        text-decoration: none;
        color: white;
    }
}



/***************************/
/***************************/
/********* 1440 **********/
/***************************/
/***************************/

/* Tablette and phone */
@media (max-width: 1440px) {}